<ol class="directory-list directory-list--archmage">
    {{#each index as |group key|}}
        <h3 class="entry-group hidden" data-key="{{key}}">{{key}}</h3>
            {{#each group}}
            <li class="directory-item flexrow {{../../cssClass}}{{#if this.search.usage}} ability-usage ability-usage--{{getPowerClass this.search.usage}}{{/if}}" data-key="{{key}}" data-entry-id="{{this.id}}">
                <img class="profile" data-src="{{this.img}}" title="{{this.name}}"/>
                <h4 class="entry-name">
                  <a>{{this.name}}</a>
                  <div class="tags flexrow">
                    {{#if this.search.level}}<span>Lvl {{this.search.level}}</span>{{/if}}
                    {{!-- Monsters --}}
                    {{#if this.search.race}}<span>{{this.search.race}}</span>{{/if}}
                    {{#if this.search.class}}<span>{{this.search.class}}</span>{{/if}}
                    {{#if this.search.size}}<span>{{this.search.size}}</span>{{/if}}
                    {{#if this.search.role}}<span>{{this.search.role}}</span>{{/if}}
                    {{#if this.search.type}}<span>{{this.search.type}}</span>{{/if}}
                    {{!-- Powers --}}
                    {{#if this.search.action}}<span>{{this.search.action}}</span>{{/if}}
                    {{#if this.search.usage}}<span>{{this.search.usage}}</span>{{/if}}
                  </div>
                </h4>
            </li>
            {{/each}}
    {{/each}}
</ol>