<div class="archmage chat-card">
  <header class="card-header">
    <h3 class="ability-usage ability-usage--recharge">{{localize 'Command Points'}}</h3>
  </header>
  <div class="card-content">
    <div class="dice-roll">
      <div class="dice-result">
          <div class="dice-formula">{{data.roll.formula}}</div>
          <div class="dice-tooltip">
            <section class="tooltip-part">
              <div class="dice">
                  <header class="part-header flexrow">
                      <span class="part-formula">{{data.roll.formula}}</span>
                      <span class="part-total">{{data.roll.total}}</span>
                  </header>
                  <ol class="dice-rolls">
                    {{#each data.roll.terms as |term i|}}
                      <li class="roll die d{{term.faces}}">{{term.total}}</li>
                    {{/each}}
                  </ol>
              </div>
            </section>
          </div>
          <h4 class="dice-total dice-total--small">Gained {{data.roll.total}} command points.</h4>
      </div>
    </div>
  </div>
</div>
