<form>
  <div class="form-group">
    <label>Recovery bonus?</label>
    <input type="text" name="bonus" value="" placeholder="e.g. +1d4"/>
  </div>
  <div class="form-group">
    <label>Apply healing?</label>
    <input type="checkbox" name="apply" checked />
  </div>
  <div class="form-group">
    <label>Average roll? <strong>{{warning}}</strong></label>
    <input type="checkbox" name="average" {{avg}} />
  </div>
</form>